.form-line {
    display: flex;
    justify-content: space-between;
    mat-form-field {
        max-width: 201px;
    }
}

.dialog-container {
    position: relative;
    mat-progress-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }
}